In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [31]:
data = gpd.read_file("../data/afghanConflicts/afghanConflicts.shp")

In [34]:
# First, let's set max columns display for geopandas
pd.set_option('display.max_columns',999)
pd.set_option('display.max_rows', 100)

# Adding the plt parameters for charting size 
plt.rcParams['figure.figsize'] = (16, 12)

In [33]:
data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 28930 entries, 0 to 28929
Data columns (total 46 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          28929 non-null  object
 1   year        28930 non-null  object
 2   active_yea  28929 non-null  object
 3   start_year  28930 non-null  object
 4   end_year    28930 non-null  object
 5   type_of_vi  28929 non-null  object
 6   conflict_n  28929 non-null  object
 7   conflict_1  28929 non-null  object
 8   dyad_new_i  28929 non-null  object
 9   dyad_name   28929 non-null  object
 10  side_a_new  28929 non-null  object
 11  gwnoa       27591 non-null  object
 12  side_a      28930 non-null  object
 13  side_b_new  28929 non-null  object
 14  gwnob       0 non-null      object
 15  side_b      28930 non-null  object
 16  number_of_  28929 non-null  object
 17  source_art  28927 non-null  object
 18  source_off  13069 non-null  object
 19  source_dat  13069 non-null  object
 20  source_hea  13070 non-null  object
 21  source_ori  28097 non-null  object
 22  where_prec  28929 non-null  object
 23  where_coor  28930 non-null  object
 24  adm_1       28257 non-null  object
 25  adm_2       21908 non-null  object
 26  latitude    28930 non-null  object
 27  longitude   28930 non-null  object
 28  geom_wkt    28929 non-null  object
 29  priogrid_g  28929 non-null  object
 30  country     28930 non-null  object
 31  country_id  28929 non-null  object
 32  iso3        28930 non-null  object
 33  region      28930 non-null  object
 34  event_clar  28929 non-null  object
 35  date_prec   28929 non-null  object
 36  date_start  28930 non-null  object
 37  date_end    28930 non-null  object
 38  deaths_a    28929 non-null  object
 39  deaths_b    28929 non-null  object
 40  deaths_civ  28929 non-null  object
 41  deaths_unk  28929 non-null  object
 42  low         28929 non-null  object
 43  best        28930 non-null  object
 44  high        28929 non-null  object
 45  geometry    28930 non-null  geometry
dtypes: geometry(1), object(45)
memory usage: 10.2+ MB

In [32]:
data.head()

,id,year,active_yea,start_year,end_year,type_of_vi,conflict_n,conflict_1,dyad_new_i,dyad_name,...,date_start,date_end,deaths_a,deaths_b,deaths_civ,deaths_unk,low,best,high,geometry
0,None,#date+year,None,#date+year+start,#date+year+end,None,None,None,None,None,...,#date+start,#date+end,None,None,None,None,None,#affected+killed,None,POINT (0.000 0.000)
1,172881,2012,1,2012,2012,1,333,Afghanistan: Government,735,Government of Afghanistan - Taleban,...,2012-04-11,2012-04-13,0,8,0,17,25,25,25,POINT (71.315 35.483)
2,174838,2012,1,2012,2012,1,333,Afghanistan: Government,735,Government of Afghanistan - Taleban,...,2012-09-14,2012-09-15,0,6,0,0,6,6,6,POINT (68.660 32.925)
3,175056,2012,1,2012,2012,1,333,Afghanistan: Government,735,Government of Afghanistan - Taleban,...,2012-09-27,2012-09-30,0,11,0,0,11,11,11,POINT (64.996 34.135)
4,175289,2012,1,2012,2012,1,333,Afghanistan: Government,735,Government of Afghanistan - Taleban,...,2012-10-15,2012-10-16,0,9,0,0,9,9,9,POINT (68.476 33.257)